
.home .bg-image {
  height: 70vh;
}

.bg-image-one {
  background-image: url('../images/bg-image-one.jpg');
}

.bg-image-two {
  background-image: url('../images/bg-image-two.jpg');
}

.text-shadow {
  text-shadow: 1px 1px 2px #000;
}

.who-are-we {
  margin-top: -6em;
  padding: 2em 3em;
  background-color: #ffcd00;
}

.projects .card img {
  height: 200px;
  width: auto;
}

.banner {
  background-color: #da291c;
}

.banner h1 a {
  color: white;
}