
.footer-map {
  height: 18em;
  width: 100%;
}

.icon{
  height: 3rem;
  width: 3rem;
  border-radius: 9999rem;
  padding: 0.375rem 0.375rem;
}

.icon-facebook {
  background-color: #1778f2;
}

.icon-instagram {
  background-color: #f00075;
}

.icon-youtube {
  background-color: red;
}

.icon-telegram {
  background-color: #2aabee;
}