
.home .bg-image {
  height: 70vh;
}

.bg-image-one {
  background-image: url('../images/bg-image-one.jpg');
}

.bg-image-two {
  background-image: url('../images/bg-image-two.jpg');
}

.text-shadow {
  text-shadow: 1px 1px 2px #000;
}

.who-are-we {
  background-color: #ffcd00;
}

.projects .card img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 200px;
}

.banner {
  background-color: #da291c;
}

.banner h1 a {
  color: white;
}